﻿
* {
  box-sizing: border-box;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

body {
	
}

a {
	color:black;
	
	text-decoration: none;
}

a:hover {
	color:silver;
	
	text-decoration: none;
}

.conteiner__block{
	width: 1240px;
	height: 2100px;
	position: relative;
	margin-top: 300px;
	margin: auto;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
   	background: linear-gradient(45deg, #e6ebe7, white );

}


.header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	font-family: 'Coda Caption', sans-serif;

}

.header__section {
	display: flex;
	align-items: center;
}

.header__item1 {
	padding:40px 25px;
}

.header__item2 {
	padding:40px 25px;
}
/* 
.mainbut {
	border-radius: 30px;
    background: #f39c12;
    font-size: 20px;
    padding: 20px 30px;
}
*/


.btn-2 {
  background: rgb(96,9,240);
  font-family: 'Coda Caption', sans-serif;
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.custom-btn {
  width: 130px;
  height: 40px;
text-align: center;
  color: black;
  border-radius: 30px;
  padding: 10px 25px;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/*
.simbut {
    font-size: 20px;
    padding: 20px 30px;
	background:linear-gradient(-45deg, transparent 15px, #f39c13 0);
   }
*/
 .regbut {
   	position: absolute;
   	margin-top: 130px;
   	padding-left: 15px;
   	font-size: 20px;

   }

.subtitle {
	text-align: center;
	font-family: 'Coda Caption', sans-serif;
}

.form-group {
	display: flex;
	margin: auto;
	padding: auto;
}

.topsearch {
	width: 320px;
	height: 200px;
	text-align: center;
	margin: auto;
	padding: auto;
	text-align: center;
}

.seven {
	font-size: 36px;
	margin-top: 36px;
	padding-right: 10px;
}


#prefix {
	width: 90px;
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

#phone {
	width: 170px;
	margin-top: 30px;
	margin-left: 5px;
	text-align: center;
	font-size: 30px;
}

.titletop {
	width: 110px;
	height: 50px;
	margin: auto;
	border-color:#f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	text-align: center;
	border-radius: 10px 10px 0 0;
	margin-top: 10px;
	background-image: linear-gradient( yellow, #f39c12);
}

.numbers__box1 {
	width: 1120px;
	height: 260px;
	border: #f39c12 solid ;
	border-radius: 20px 20px 0 0 ;
	margin:auto;

}

.bottom__operators {
	width: 1120px;
	margin: auto;
}

.operators__inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 3fr;
	grid-column-gap: 30px;
	grid-row-gap: 0px;
	text-align: center;

}

.operators__inner a {
	margin: auto;
	padding: 10px;
	font-size: 25px;
	list-style-type:none;
	border-radius: 0 0 10px 10px;

}

.parent {
padding-top: 40px;
display: grid;
align-items: center;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 20px;
grid-row-gap: 35px;
text-align: center;
justify-items: center;
}

.topnum{
	border: solid #f39c12;
	border-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 21px;


}

.button-three{
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient( #f39c12, yellow);

}
.button-three {
    background-color: #f39c12;
    border: none;

    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}
.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}
.button-three:after {
    content: "";
    background: #f1c40f;
    opacity: 0;
    transition: all 0.8s
}
.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* симкарты */



.numbers__box2 {
	
	width: 1120px;
	height: 1100px;
	padding-top: 50px;
	margin:auto;
	

}

.seven2 {
	border-radius: 0 10px 0 0;
	font-size: 21px;
	display: flex;
	justify-content: space-between;

}
.seven2 h4{
	text-align: center;
	margin-top: 7px;
	margin-right: 10px;
	
}


.topnumbox2{

	border: solid #f39c12;
	border-radius: 10px 10px 0 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 21px;
}


.title__numbers {
	
}

.title__text  {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left:  15px;
	width: 100px;
	margin-left: 50px;
	text-align: left;
	margin-bottom: 0px;
	background-image: linear-gradient( yellow, #f39c12);
}

.title__sell {
	text-align: right;
	background-color: ;
	background-image: linear-gradient(#f39c12, yellow);
	width: 120px;
	padding-right: 15px;
	padding-left:  15px;
	float: right;
	border-radius: 0 0 10px 10px;
}



.parent2 {
padding-top: 40px;
display: grid;
align-items: center;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 20px;
grid-row-gap: 35px;
text-align: center;
justify-items: center;
}







/* Footer */
.footer {
	width: 100%;
	height: 130px;
	position: absolute;
	right: 0;
  	bottom: 0;
  	left: 0;
  	   	background-image: url(../../img/back.png);
   	background-position: bottom;
	background-size: 100% 125px;
	background-repeat: no-repeat;

}

.footer__inner {
	width: 500px;
	height: 100px;
	margin: auto;
	padding: auto;
	font-size: 26px;
	text-align: center;
}

.footer__inner li {
	list-style-type:none;
}