<?php

//echo('ТАК');	
?>

{% load static %}

<div class="footer">
	<div class="footer__inner">
		
		<div class="footer" style="background-image: url({% static 'img/back.png' %}">
		
		<ul>
			<li>Инструкция<a href="base/Публичная оферта SIMKARD.KZ.docx">Инструкция</a></li>
			<li>Наш Instagram: <a href="https://instagram.com/simka_kz?igshid=mbjmlsypxth"><img src="https://img.icons8.com/color/64/000000/instagram-new--v1.png"/> </a></li>
			<li>Email:<a href="mailto:Simkard@internet.ru" class="footer__email"> simkard@internet.ru</a></li>
			<li>Написать WhatsApp: <a href="https://api.whatsapp.com/send?phone=77767760101&text=%D0%A5%D0%BE%D1%87%D1%83%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D0%BD%D0%BE%D0%BC%D0%B5%D1%80" class="footer__whatsapp" target="_blank" >+7(776)776-01-01</a></li>
		</ul>


	</div>
</div>