
<div class="header">
	<div class="header__section">
		<div class="header__item1 headerButton"><a href="{% url 'home' %}" class=" custom-btn btn-2">Главная</a></div>

			<div class="regbut"><a href="{% url 'registration' %}">Регистрация</a> / <a href="{% url 'login' %}"> Вход</a> </div>
	</div>
	
	<div class="header__section">
		<div class="header__item2 "><a href="{% url 'buy' %}" class="custom-btn btn-2">Купить</a></div>
		<div class="header__item2 "><a href="{% url 'lease' %}" class="custom-btn btn-2">Аренда</a></div>
	</div>
</div>

